body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: scroll;
}
.fundo_pagina_1 {
    height: 100vh;
    width: 100vw;
    background: url(../img/estadio_spfc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.escudo_spfc {

    height: 50vh;
    width: 50vw;
    background: url(../img/saopaulo.png);
    background-repeat: no-repeat;
}
.usuario {
    height: 70vh;
    width: 70vw;
    background-color: white;
    background-repeat: no-repeat;
    margin-left: 70%;
    margin-top: -3,5em;

}