body {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
}
.fundo_pagina_1 {
    height: 100vh;
    width: 100vw;
    background: url(../img/estadio_spfc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;]
    float: left;
    
}
.escudo_spfc {

    height: 50vh;
    width: 50vw;
    background: url(../img/saopaulo.png);
    background-repeat: no-repeat;
    
}
.usuario {
    height: 80vh;
    width: 30vw;
    position: absolute;
    background-color: white;
    top: 10vh;
    right: 2vw;
    background-size: inherit;
    background-repeat: no-repeat;
    float: left;
    
}
.usuario span {
    height: 8%;
    width: 100%;
    float: left;
    position: relative;
    bottom: 0;
    margin-top: 100px;
}
.usuario span a {
    text-decoration: none;
    color: black;
    margin-left: 10vw;
    margin-top: 30px;
    font-size: 20px;



}
.simbolo {
    height: 30vh;
    width: 15vw;
    margin-left: 150px;
    background: url(../img/simbolo.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.dados_acesso {
    height: 90%;
    width: 100%;
    float: left;
}
.dados_acesso input {
    height: 5%;
    width: 50%;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 10px;
    border-style: none;
    border: #d63031 solid 2px;
    text-align: center;
}
.input_1 {
    margin-top: -5em;
}

.dados_acesso button {
    height: 5%;
    width: 50%;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #d63031;
    border-style: none;
    border: #d63031 2px solid;

}

.dados_acesso button:hover{
    background-color: black;
    color: white;
}
.fundo_pagina2 {
    height: 100vh;
    width: 100vw;
    background:url("../img/faixada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.cadastro_cliente {
    height: 50vh;
    width: 50vw;
    background-color: black;
    margin-left: 325px;
    margin-top: 240px;
    border-radius: 10px;
    border-style: none;
    border: #d63031 2px solid;
    
}
.cadastro_cliente span a {
    text-decoration: none;
    color: white;
    margin-left: 280px;
    font-size: 20px;
}

.cadastro_cliente input {
    height: 25px;
    width: 210px;
    margin-top: 18px;
    margin-left: 230px;
    border-radius: 10px;
    border-style: none;
    border: #d63031 2px solid;
    text-align: center;
}

