body {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
}
.pagina_ingressos {
    height: 100vh;
    width: 100vw;
    background:url(../img/ingresso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.pagina_ingressos h2 {
    margin-left: 5%;
    font-size: 300%;
    margin-top: 1%;
    position: relative;
}
.posicao_dos_ingressos {
    height: 80vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.52);
    margin-left: 25%;
}
.posicao_dos_ingressos h4 {
    color: white;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 150%;
    margin-top: 1%;
}
.configVenda{
    
    width: 50%;
    color: white;
    background-color: red;
    padding: 3%;
    font-size: 19px;
    border-radius: 10px;
    float: left;
    margin-top: 5px;

}
.configVenda select {
    float: right;
}

.total_ingressos_compras{
    width: 20vw;
    height: 70vh;
    background-color: red;
    float: left;
    margin-left: 10px;
    margin-top: -377px;
    border-radius: 10px;
}
.total_ingressos_compras h3{
    margin-left: 110px;
}
.total_ingressos_compras button{
    width: 40%;
    margin-left: 30%;
    margin-top: 60%;
    border-radius: 30%;
    color: white;
    background-color: #000000;
    border-style: none;
    border: #d4d4d4 2px solid;
    font-size: 95%;
}

.total_ingressos_compras button:hover{
background-color: rgb(238, 103, 13);
    color: white;
}
.acumulo {
    position: relative;
    right: 10%;
    margin-top: 20%;
    float: right;
    width: 15vw;
    height: 20vh;
    border: 2px solid white;
}


